.layout {
  height: 100%;
  width: 100%;
  background-color: #fff;
  font-size: calc(10px + 2vmin);
  color: var(--color-elastic-ink);
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}
